.home-panel-container {
  width: 1000px;
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 5px 0;
}

@media (max-width: 1000px) {
  .home-panel-container {
    width: 100%; /* Adaptar a pantallas pequeñas */
  }
}

.app-container {
  width: 1400px;
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 5px;
}

@media (max-width: 1400px) {
  .app-container {
    width: 100%; /* Adaptar a pantallas pequeñas */
    padding: 5px;
  }
}
