.app-container {
  width: 1400px;
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 20px;
}

@media (max-width: 1400px) {
  .app-container {
    width: 100%; /* Adaptar a pantallas pequeñas */
    padding: 10px;
  }
}
