/* Tema claro */
body.light {
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Tema oscuro */
body.dark {
  --background-color: #121212;
  --text-color: #ffffff;
}

/* Estilos globales */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
